.container{
    padding: 30px;
    text-align: center;
    width: 100%;

}
.heading{
    color:#000;
    max-width: 550px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    
}
.heading span{
    background-clip: text;
    background-color: linear-gradient(to right,#676867,#455464);

}