.container{
    padding-left: 30px;

    text-align: center;
    width: 100%;
    display: flex;
    background-color: rgb(212, 193, 193);
    line-height: 4rem;
    /* gap: 5rem; */

}
.heading{
    color:#000;
    max-width: 500px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    
}
.heading span{
    background-clip: text;
    background-color: linear-gradient(to right,#676867,#455464);

}
.right img{
    margin-right: 250px;
}